*
    box-sizing: border-box

html,
body
    margin: 0
    font-size: 16px
    line-height: 1.4
    font-family: 'Raleway', 'Arial', sans-serif
    color: $text
body
    padding-left:80px 
    padding-right:80px 
    
    @media (min-width: $min_mobile) and (max-width: $max_pad)
        padding-left: 20px 
        padding-right: 20px 

a
    color: $clickabillity
    cursor: pointer
    &:hover
        color: $clickabilitty-mute


