@font-face
    font-family: "JetBrains ExtraBold"
    src : url("../fonts/JetBrainsMono-ExtraBold.woff2")

@font-face
    font-family: "JetBrains ExtraLight"
    src : url("../fonts/JetBrainsMono-ExtraLight.woff2")