@font-face
    font-family: "JetBrains ExtraBold"
    src : url("../fonts/JetBrainsMono-ExtraBold.woff2")

@font-face
    font-family: "JetBrains Bold"
    src : url("../fonts/JetBrainsMono-Bold.woff2")

@font-face
    font-family: "JetBrains ExtraLight"
    src : url("../fonts/JetBrainsMono-ExtraLight.woff2")

@font-face
    font-family: "JetBrains Medium"
    src : url("../fonts/JetBrainsMono-Medium.woff2")

