// Colors
$accent: #ff0f82
$background: #EBEBEB
$text: #000000
$textMuted: #9f9f9f
$clickabillity: #20349E
$clickabilitty-mute: #1b2970
$pretty-green: #247531
$pretty-purple: #7E2753

// Adaptive
$min_mobile: 320px
$max_mobile: 1000.98px

$min_pad: 680px
$max_pad: 1480px

$breakpoint-xs: 480px
$breakpoint-sm: 768px
$breakpoint-md: 992px
$breakpoint-lg: 1200px
$breakpoint-xl: 1400px
